# Dependencies
/vendor/

# Logs and Storage
/storage/logs/*.log
*.log

# Backups and Large Files
*.sql
*.tar.gz
*.zip
backups/

# Configuration and Environment
.env
app/config.php

# OS files
.DS_Store
